.container {
  margin: 0px 50px;
  padding: 0px 30px;
  border: 1px solid black;
}

.center {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
}

/* Header */
.header {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: 1px solid black;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}
.header ul {
  list-style: none;
  display: flex;
}
.header ul li {
  margin-left: 50px;
}

.header .right {
  margin-right: 0px;
}

.header .right button {
  margin: 10px;
  padding: 10px 20px;
}

/* Introduction */
.section {
  height: 80vh;
}

.intro-text {
  padding: 20px;
  text-align: justify;
}

.intro-text .name {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.intro-image {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
.available {
  color: green;
  font-size: 16px;
}

.media-link {
  margin: 0px 10px;
  font-size: 24px;
  font-weight: 100;
}

.media-link a {
  color: black;
}

/* About me */

.section-title {
  background-color: #b7c0b7;
  text-align: center;
}
.about-me {
  background-color: #d8dbd8;
  padding: 20px 100px;
}

/* Skills */
.skills {
  display: flex;
  justify-content: space-evenly;
}
.skill-card {
  border: 1px solid black;
  text-align: center;
}
.skill-card span {
  font-size: 100px;
}

/* Experience section */
.experience-section {
  background-color: #d8dbd8;
  padding: 20px 100px;
}

.experience-card {
  border: 1px solid black;
}

.company-logo img {
  width: 100px;
  height: 100px;
}

.job-position {
  font-size: larger;
  font-weight: 500;
}
.experience-details {
  text-align: left;
  border: 1px solid black;
}
